* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: white;
}

.container {
  margin: auto;
}

.wrapper {
  width: 33rem;
  height: 22rem;
  margin: auto;
  display: flex;
  text-align: center;

}

.result {
  
  background-image: linear-gradient(rgb(120, 40, 211), rgb(36, 56, 188));
  
  border-radius: 1rem;
}

.summary {
  width: 30rem;
  background-color: white;
}

.result h1, p {
  margin:1rem;
  padding: 0 3rem;
}

.score {
  background-color: rgb(70, 31, 179);
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  text-align: center;
  padding: 2.5rem;
  margin: 1rem auto;
}

.score h1, p {
  text-align: center;
  padding: 0;
  margin: 0;
}

.summary .field {
  margin: 1rem;
  padding: 10px;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-evenly;
  border: 1px solid white;
  border-radius: 1rem;
}

#reaction{
  background-color: rgba(255, 0, 0, 0.1);
  color:rgb(163, 65, 65);
}

#memory{
  background-color: rgba(255, 255, 0, 0.1);
  color: rgb(255, 179, 0);
}

#verbal{
  background-color: rgba(0, 128, 0, 0.1);
  color: green;
}

#visual{
  background-color: rgba(0, 0, 255, 0.1);
  color: blue;
}

#continue {
  background-color: black;
  color: white;
  text-align: center;
  padding-left: 6rem;

}

img {
  width: 1rem;
}

.result-txt{
  margin: 1.5rem;
}

.result-sum{
  padding: 0 2.5rem;
}

.points{
  color: rgb(170, 170, 170);
}

.points span{
  color: rgb(0, 0, 0);
}

.summary h1{
  color: rgb(74, 73, 73);

}
